/* Diary */
.Diary{
    
}


.dMain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    margin: 0 auto;
    height: max-content;
}

.dM-l{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: black;
    width: 200px;
    height: 100%;
}

.dM-lH{
    
}

.dM-r{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: black;
    width: 550px;
    height: 100%;
    margin: 0 50px;
}


.dM-rH{
    width: 100%;
    height: 50px;
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* DlHeader */
.DlHeader{
    padding: 10px 0 11px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}

.DlHeader h2{
    font-size: 16px;
    text-align: center;
    width: 100%;
}

/* DlSection */
.DlSection{
    padding: 20px 0;
    display: flex;
    max-height: 600px;
    overflow-y: scroll;
}

.DlSection::-webkit-scrollbar{
    display: none;
}

.DlSection ul {
    width: 100%;
}

.DlSection ul li{
    text-align: left;
    margin: 0 0 10px 3px;
    width: 100%;
    height: 30px;
    display: flex;
    font-size: 14px;
}

.DlSection ul li span{
    margin-right: 7px;
}

.DlSection ul li p{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
}


/* DrHeader */
.DrHeader{
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    border: 1px solid #dcdcdc;
    border-bottom: none;
    margin: 2px 2px 0 2px;
}

.DH_left{
    width: 40%;
    text-align: left;
}

.DH_right{
    width: 60%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.info_box{
    padding: 1px 3px;
    border-radius: 6px;
    margin: 0 5px;
}

.add_btn{
    font-size: 16px;
    cursor: pointer;
    color: rgb(168, 173, 190);
}

.info_btn{
    font-size: 16px;
    cursor: pointer;
    color: black;
}

/* DiaryButton */
.DiaryButton{
    border: none;
    background-color: rgba(var(--b3f,250,250,250),1);
    font-size: 14px;
    cursor: pointer;
}

/* DiaryDate */
.DiaryDate{
    display: flex;
    align-items: center;
}

.DiaryDate > div {
    display: flex;
}

.date_text {
    width: 50%;
    font-size: 18px;
    justify-content: center;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    padding-top: 5px;
}

.date_btn_left {
    width: 25%;
    justify-content: start;
    font-weight: bold;
}

.date_btn_right {
    width: 25%;
    justify-content: flex-end;
    font-weight: bold;
}



/* DrSection */
.DrSection{
    width: 100%;
    height: 650px;
    margin: 0;
    padding-top: 15px ;
    background-color: white;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow-y: scroll;
}

.DrSection::-webkit-scrollbar{
    display: none;
}

.DrSectionList{
    width: 100%;
    height: auto;
    min-height: 650px;
    max-height: 70vh;
    margin: 0;
    padding: 10px 0;
    background-color: white;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow-y: scroll;
    /* background-image: url( "../../public/assets/img/basic.jpg" );
    background-repeat : no-repeat;
    background-size : cover; */
}

.DrSectionList::-webkit-scrollbar{
    display: none;
}

/* DiaryEditor */
.DiaryEditor{
    /* padding: 0 10px; */
}

.DE_header{
    padding: 0 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.DE_header h2{
    font-size: 20px;
    margin: 0 15px;
}

.like_btn{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 3px;
}

.DE_section{
    padding: 0 20px;
    text-align: left;
    margin: 15px 0;
}

.DE_section label{
    font-size: 14px;
    font-weight: bold;
}

.DE_section div{
    margin: 17px 0;
    padding: 0;
    width: 100%;
}

.DE_inner_date{
    height: 40px;
    text-align: left;
}

.DE_inner_date label{
    margin-right: 10px;
}

.DE_inner_date input{
    border: 1px solid gray;
    padding: 5px;
    cursor: pointer;
    font-family: 'Grape Nuts', cursive;
    font-size: 14px;
    font-weight: bold;
}

.DE_inner_date input:focus{
    outline: none;
}

.DE_inner_emotion{
    height: 120px;
    max-height: 120px;
}

.DE_inner_emotion .input_date {
    border: none;
    border-radius: 5px;
    background-color: #ececec;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
}
  
.DE_inner_emotion .emotion_list_wrapper {
    display: flex;
    grid-template-columns: repeat(5,auto);
    gap: 2%;
}

.DE_inner_life{
    max-height: 200px;
    height: 200px;
}

.DE_inner_life textarea{
    width: 500px;
    height: 100%;
    border: 1px solid #dcdcdc;
    resize: none;
    padding: 5px;
}

.DE_inner_life textarea:focus{
    outline: none;
}

.DE_inner_btn{
    max-height: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
}

.DE_inner_btn button{
    width: 100%;
    height: 30px;
    background: white;
    border: 1px solid #dcdcdc;
}

.DE_inner_btn button:hover{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

/* EmotionItem */
.EmotionItem {
    cursor: pointer;
    border-radius: 5px;
    padding: 20px 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .EmotionItem img {
    width: 50%;
    margin-bottom: 10px;
  }
  
  .EmotionItem span{
    font-size: 14px;
  }
  
  .EmotionItem_off {
    background-color: #ececec;
  }
  
  .EmotionItem_on_1 {
    background-color: #64c964;
    color: white;
  }
  
  .EmotionItem_on_2 {
    background-color: #9dd772;
    color: white;
  }
  
  .EmotionItem_on_3 {
    background-color: #fdce17;
    color: white;
  }
  
  .EmotionItem_on_4 {
    background-color: #fd8446;
    color: white;
  }
  
  .EmotionItem_on_5 {
    background-color: #fd565f;
    color: white;
  }


/* DiaryList */
.DiaryList{
    padding: 0 10px;
}

.diary-zero{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6a6a6a;
    font-size: 14px;
}

.diary_item_box{
    width: 90%;
    height: 80px;
    padding: 5px 10px;
    margin: 0 auto;
    border-bottom: 1px solid #dcdcdc ;
}

/* DiaryItem */
.DiaryItem {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e2e2e2;
}

.DiaryItem .emotion_img_wrapper {
    cursor: pointer;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.DiaryItem .emotion_img_wrapper_1{
    background-color: #64c964;
}

.DiaryItem .emotion_img_wrapper_2{
    background-color: #9dd772;
}

.DiaryItem .emotion_img_wrapper_3{
    background-color: #fdce17;
}

.DiaryItem .emotion_img_wrapper_4{
    background-color: #fd8446;
}

.DiaryItem .emotion_img_wrapper_5{
    background-color: #fd565f;
}

.DiaryItem .emotion_img_wrapper img {
    width: 50%;
}

.DiaryItem .info_wrapper {
    flex-grow: 1;
    cursor: pointer;
    margin-left: 20px;
    width: 60%;
}

.diary_date {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
    font-family: 'Grape Nuts', cursive;
}

.DiaryItem .diary_content {
    font-size: 12px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 20px;
}

.DiaryItem .btn_wrapper {
    min-width: 70px;
    text-align: right;
    padding-right: 5px;
}

.btn_wrapper .unlikeDay_btn{
    color: #ffeaef;
}

.likeDay_btn{
    color: #ff7d9d;
}

/* DiaryView */
.DiaryView{
     margin: 80px 0;
}

.DV_inner{
    width: 80%;
    margin: 20px auto;
    border: 1px solid #dcdcdc;
}

.DV_inner_img{
    margin: 10px auto;
    padding: 0;
    min-height: 250px;
}

.DV_inner_info{
    display: flex;
    margin: 10px auto;
    padding: 5px 10px;
    justify-content: space-between;
}

.DV_inner_content{
    padding: 5px;
    min-height: 130px;
    width: 98%;
    margin: 0 auto;
    font-size: 14px;
    text-align: left;
}